{% extends 'layout.html.twig' %}

{% block body %}
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 50%;
        }

        .maps{
            position: absolute !important;
            width: 50%;
            height: 50%;
        }
    </style>

    <div id="main">
        <div id="map" class="maps"></div>
    </div>

<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap"
        async defer></script>

{% endblock %}