{% extends 'layout.html.twig' %}

{% block body %}

    <div id="main">

        <h1>Liste des catégories </h1>

        <table>
            <thead>
                <tr>
                    <th class="align-center">Nom des catégories</th>
                    <th class="align-center">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.categoryName }}</td>
                    <td class="align-center">
                        <ul>
                            <li>
                                <a href="{{ path('categories_edit', { 'id': category.id }) }}" class="buttonDisconnect">Modifier</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('categories_new') }}" class="buttonNew">Enregistrer une nouvelle catégorie</a>
            </li>
        </ul>

    </div>
{% endblock %}
